.additional-goods__catalog {
  border-bottom: 1px solid @color-gray;
}

.additional-goods__title {
  font-size: @font-size*4;
}

.additional__title {
  //заголовок карточки доп.товаров
  width: 100%;
}

.additional-goods__header {
  padding-top: 30px;
  padding-bottom: 30px;
}

