.button {
  display: block;

  background-color: @color-basic-green;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  outline: none;

  &:hover {
    background-color: @color-basic-green2;
  }

  &:active {
    background-color: @color-basic-green2;
    color: fade(@color-white, 70%);
  }
}

.button-text {

  font-family: "Oswald", sans-serif;
  font-size: @font-size*1.4;
  line-height: 1.26;
  text-transform: uppercase;
  color: @color-white;
  text-align: center;
}
.button__link{
  text-decoration: none;
  color: inherit;
}
.button--promo {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}

.button--card {
  grid-area: button;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: @font-size*1.6;
  width: 100%;
}


.button--form {
  width: 100%;
  font-size: @font-size*1.6;
  line-height: 1;
}
