.card-product {
  position: relative;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 61px 58px auto;
  grid-template-areas:
    "img title"
    "img description"
    "button button";
  grid-row-gap: 13px;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    height: 1px;
    width: 320px;
    background-color: @color-gray2;
    transform: translateX(-50%);

    @media (min-width: @tablet-width) {
      width: @tablet-width;
    }
  }

  &:nth-of-type(2n) {
    @media (min-width: @tablet-width) {
      .card-product__img-wrapper {
        align-self: flex-start;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 38px;
    padding-right: 35px;
    padding-bottom: 40px;
    grid-template-columns: auto;
    grid-template-rows: 208px auto auto auto;
    grid-template-areas:
      "img"
      "title"
      "description"
      "button";
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;

    margin: 0 auto;

    background-image: linear-gradient(@color-white 73px, @color-basic-gray 73px);
    background-repeat: no-repeat;

    &::after {
      display: none;
    }

    @media (min-width: @desktop-width) {
      background-image: linear-gradient(@color-white 80px, @color-basic-gray 80px);
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  // .card-product__link

  &__link {
    text-decoration: none;
    color: @color-white;
  }

  // .card-product__title

  &__title {
    grid-area: title;
    width: 76px;
    padding: 0;
    padding-top: 20px;
    margin: 0;

    font-size: @font-size*1.6;
    line-height: 20/16;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      padding-top: 17px;
      padding-bottom: 3px;

      width: 134px;
      font-size: @font-size*2;
      text-align: center;
      line-height: 24/20;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 6px;
      padding-top: 25px;
      line-height: 22/20;
    }
  }

  // .card-product__description

  &__description {
    grid-area: description;
    align-self: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;

    border-collapse: collapse;
    font-size: @font-size*1.2;
    line-height: 1.2;
    color: @color-special_dark-grey;

    @media (min-width: @tablet-width) {
      width: 252px;
      margin-bottom: auto;
      font-size: @font-size*1.6;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 13px;
      width: 170px;
      font-size: @font-size*1.6;
    }
  }

  // .card-product__img-wrapper

  &__img-wrapper {
    grid-area: img;
    text-align: center;
    align-self: start;

    @media (min-width: @tablet-width) {
      align-self: end;
    }

    @media (min-width: @desktop-width) {
      // align-self: center;
    }
  }

  // .card-product__img

  &__img {
    width: auto;

    // width: 100%;
    // height: auto;
    @media (min-width: @desktop-width) {
      width: auto;
    }
  }
}

.more-products {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 45px auto auto auto;
  grid-template-areas:
    "img "
    "title"
    "description"
    "button ";
  grid-row-gap: 8px;
  align-items: center;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    grid-template-rows: 135px auto auto auto;
    background-image: none;
    background-color: @color-white;
    border: 2px solid @color-basic-gray;
    padding-bottom: 35px;
    padding-top: 15px;
    width: 244px;
  }

  @media (min-width: @desktop-width) {
    background-image: none;
    background-color: @color-white;
    grid-template-rows: 134px auto auto auto;
    width: 165px;
    padding-left: 36px;
    padding-right: 38px;
    padding-top: 17px;
    padding-bottom: 40px;
  }

  &__img-wrapper {
    padding-bottom: 30px;
  }

  // .more-products__img

  &__img {
    fill: #d3d3d3;

    @media (min-width: @tablet-width) {
      padding-bottom: 3px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: @desktop-width) {
      width: 60px;
      height: 60px;
      padding-bottom: 5px;
    }
  }

  // .more-products__title

  &__title {
    width: 100%;
    text-align: center;
    padding-top: 0;

    @media (min-width: @tablet-width) {
      padding-bottom: 12px;
      max-width: 135px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 15px;
    }
  }

  // .more-products__description

  &__description {
    width: 100%;
    color: @color-special_dark-grey;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: @tablet-width) {
      min-height: 102px;
      width: 170px;
    }

    @media (min-width: @desktop-width) {
      width: 170px;
      margin-bottom: 13px;
    }
  }
}

.description {

  // .description__row

  &__row {
    @media (min-width: @tablet-width) {
      height: 32px;
      border-bottom: 1px solid @color-special_gray;
    }

    @media (min-width: @desktop-width) {
      height: 32px;
      border-bottom: 1px solid @color-special_gray;
    }
  }

  // .description__col2

  &__col2 {
    text-align: right;
    width: 80px;
  }
}

.card-product--mini {
  grid-template-columns: auto;
  grid-template-rows: 20px 21px auto;
  grid-template-areas:
    "title"
    "description"
    "button ";
  grid-row-gap: 9px;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 18px;
  border-top: 1px solid @color-special_gray;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title description"
      "button button";
    grid-row-gap: 20px;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 27px;
    padding-left: 38px;
    padding-right: 38px;

    border-right: 1px solid @color-special_gray;
    border-left: 1px solid @color-special_gray;
    background-color: @color-white;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 320px auto 245px;
    grid-template-rows: auto;
    grid-template-areas: "title description button";
    width: 100%;
    justify-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }

  &:last-child {
    border-bottom: 1px solid @color-gray;

    @media (min-width: @tablet-width) {
      margin-bottom: 70px;
    }
  }

  &::after {
    display: none;
  }
}

.icon-plus--tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.icon-plus--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.basket__link {
  text-decoration: none;
  color: @color-white;
}
