.card-product {
  position: relative;
  padding-bottom: 24px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    height: 1px;
    width: 100vw;
    background-color: @color-gray2;
    transform: translateX(-50%);
  }
}

.card-product--more-products {
  padding-top: 25px;
}

.card-product--mini {

  padding-top: 12px;
  padding-bottom: 18px;
  border-top: 1px solid @color-gray;

  &:last-child {
    border-bottom: 1px solid @color-gray;
  }

  &::after {
    display: none;
  }
}

.card-product__wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 61px 58px auto;
  grid-template-areas:
    "img title"
    "img description"
    "button button";
  grid-row-gap: 13px;
}

.card-product__wrapper--more-products {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 35px 32px 29px auto;
  grid-template-areas:
    "img "
    "title"
    "description"
    "button ";
  grid-row-gap: 8px;
  align-items: center;
}

.card-product__wrapper--mini {
  grid-template-columns: auto;
  grid-template-rows: 20px 21px auto;
  grid-template-areas:
    "title"
    "description"
    "button ";
  grid-row-gap: 9px;
  align-items: center;
}

.card-product__title {
  grid-area: title;
  align-self: flex-end;
  width: 76px;
  padding: 0;
  margin: 0;

  font-size: @font-size*1.6;
  line-height: 20/16;
  text-transform: uppercase;
}

.product__title--more-products {
  width: 100%;
  text-align: center;
}

.card-product__description {
  grid-area: description;
  align-self: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;

  border-collapse: collapse;
  font-size: @font-size*1.2;
  line-height: 1.2;
  color: @color-special_dark-grey;
}

.card-product__description--more-products {
  width: 100%;
  text-align: center;
}

.card-product__img-wrapper {
  grid-area: img;
  text-align: center;
}

.card-product__img {
  width: 100%;
  height: auto;
}

.card-product__img--tablet {
  display: none;
}

.card-product__img--desktop {
  display: none;
}

.col2 {
  text-align: right;
  width: 80px;
}
