.catalog {
  border-top: 1px solid @color-gray;
  border-bottom: 1px solid @color-gray;

  @media (min-width: @tablet-width) {
    border: none;
  }

  // .catalog__header

  &__header {
    padding-top: 27px;
    padding-bottom: 40px;

    @media (min-width: @tablet-width) {
      padding-top: 60px;
      padding-bottom: 90px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 70px;
      padding-bottom: 85px;
    }
  }

  // .catalog__wrapper

  &__wrapper {
    position: relative;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 324px 324px;
      grid-column-gap: 60px;
      grid-row-gap: 66px;
      align-items: flex-end;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 245px 245px 245px 245px;
      grid-column-gap: 80px;
      grid-row-gap: 61px;
    }
  }
}
