.contacts {
  background-color: #f2f2f2;

}

.contacts-wrapper {
  display: flex;
  flex-direction: row;

}

.contacts__adress {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 35px;
  flex-basis: 50%;
  flex-shrink: 0;

  line-height: 1.43;
}

.contacts__map {
  position: relative;
}

.contacts__map::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: url(.././img/map-pin.png);
  transform: translate(-50%, -50%);
}
