.contacts{
  background-color: @color-basic-gray;
}

.contacts--gray {
  background-color: @color-basic-gray;
}

.contacts-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 26px;
}

.contacts__title {
  flex-basis: 140px;

  text-transform: uppercase;
  text-align: left;
  font-size: @font-size*1.6;
  line-height: 1.3;
  color: @color-black;
}

.contacts__adress {
  flex-basis: 50%;
  flex-shrink: 0;

  padding: 0;
  margin: 0;
  padding-top: 3px;
  line-height: 1.43;
}

.contacts__map {
  position: relative;
  background-color: @color-basic-gray;
  background-image: url(".././img/bg-map-mobile@1x.png");
  width: auto;
  height: 362px;
  margin: 0 auto;
}

.contacts__map::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: url(".././img/map-pin.png");
  transform: translate(-50%, -50%);
}
