.example {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: @color-gray3;
}

.example__content-wrapper {

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 26px;
}

.example__header {
  padding-bottom: 10px;
}

.example__title {
  color: @color-black;
}

.example__description {
  margin: 0;
  line-height: 18/14;
  padding-right: 2px;
}

.example__expenses {
  font-family: @font;
  font-size: @font-size*1.4;
  line-height: 1.43;
  color: @color-black;
  text-transform: uppercase;
  text-align: center;
}

.slider {
  padding-top: 35px;
  padding-bottom: 3px;

  &__item {
    width: 280px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 31px;
    flex: 20%;
    /* = flex-basis:20%; */
    transition: flex 300ms ease;
    animation: fadein 0.5s ease-in-out forwards;

    &--before {
      background-image: url(".././img/before-mobile@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url(".././img/before-mobile@2x.png");
      }
    }

    &--after {
      background-image: url(".././img/after-mobile@1x.png");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url(".././img/after-mobile@2x.png");
      }
    }
  }
}

.slider__designation {
  font-family: @font;
  font-size: @font-size*1.6;
  text-transform: uppercase;
  line-height: 1.25;
  color: @color-black;
  border-bottom: 1px dotted transparent;

  &:hover {
    border-bottom: 1px solid fade(@color-black, 40%);
  }
}

.example__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 198px;
  margin: 0 auto;
}

.slider__toggler {
  appearance: none;
  width: 75px;
  padding: 4px;

  background-color: @color-white;
  border: 1px solid @color-special_gray;
  border-radius: 7px;
  text-align: left;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 36px;
    height: 6px;

    background-color: @color-basic-green;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;
  }

  &::-moz-range-thumb {
    width: 36px;
    height: 6px;

    background-color: @color-basic-green;
    border-radius: 6px;
    cursor: pointer;
  }
}

.slider-item--active {
  display: block;
}

.slider-item--hidden {
  display: none;
}
