.gift {
  padding-top: 36px;
  padding-bottom: 34px;
}

.gift__img-wrapper {
  text-align: center;
  margin-bottom: 57px;
}

.gift__wrapper {

  padding-top: 66px;
  padding-bottom: 42px;

  font-size: @font-size*1.6;
  line-height: 20/16;

  text-align: center;
  color: @color-white;
  background: url(".././img/gift-photo-mobile@1x.jpg") no-repeat top center;
  background-size: cover;
}

.gift svg {
  fill: @color-white;
  width: 60px;
  height: 60px;
}

.gift__promo {
  width: 161px;
  margin: 0 auto;
}
