.page {
  height: 100%;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.285;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;

  white-space: nowrap;

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  overflow: hidden;
}


.section-title {
  padding: 0;
  margin: 0;

  font-family: @font;
  font-size: @font-size*3.6;
  font-weight: 400;
  line-height: 1;
  color: @color-black;
}

.decor-wrapper {
  position: relative;
  width: 100%;
}

.decor-title {
  padding-right: 24px;
  background-color: @color-white;
}

.decor-wrapper::after {
  position: absolute;
  top: 17px;
  left: 50%;
  content: "";

  width: 50vw;
  height: 2px;

  background-color: @color-basic-green;
  z-index: -5;
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
