@media (min-width: @tablet-width) {

  // *********************************
  //             catalog
  // *********************************
  .catalog {
    border: none;
  }

  .catalog__header {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .catalog__wrapper {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-column-gap: 60px;
    grid-row-gap: 67px;
    align-items: flex-end;
  }

  // *********************************
  //           modal
  // *********************************
  .form-order {

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;

    .search-program__label {
      margin-bottom: 35px;
    }

    .fieldset__title {
      font-size: @font-size*3.6;
    }
  }

  // *********************************
  //           card-product
  // *********************************
  .card-product {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    grid-template-columns: auto;
    grid-template-rows: 208px 65px 120px auto;
    grid-template-areas:
      "img"
      "title"
      "description"
      "button";
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;

    margin: 0 auto;

    background-image: linear-gradient(@color-white 73px, @color-basic-gray 73px);
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }

  .card-product--more-products {
    align-self: flex-end;
    padding-top: 40px;
    background-image: none;
    background-color: @color-white;
    border: 2px solid @color-basic-gray;
  }

  .card-product--mini {
    padding-top: 19px;
    padding-bottom: 26px;
    padding-left: 38px;
    padding-right: 38px;

    border: 1px solid @color-special_gray;
    background-color: @color-white;
    background-image: none;
  }

  .card-product__img-wrapper {
    align-self: end;
  }

  .card-product__title {
    padding-bottom: 2px;
    width: 134px;
    font-size: @font-size*2;
    text-align: center;
    line-height: 24/20;
  }

  .card-product__description {
    width: 252px;
    margin-bottom: auto;
    font-size: @font-size*1.6;
  }

  .card-product__description--more-products {
    min-height: 97px;
    width: 170px;
  }

  .description__row {
    height: 32px;
    border-bottom: 1px solid @color-special_gray;
  }

  .button-grid {
    width: 100%;
  }

  .card-product__wrapper--more-products {
    grid-template-rows: 80px 60px 95px auto;
    grid-row-gap: 23px;
  }

  .product__title--more-products {
    padding-bottom: 0;
  }

  .card-product--mini {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title description"
      "button button";
        grid-row-gap: 20px;
    justify-content: space-between;
  }

  .more-products__img {
    padding-bottom: 3px;
    width: 60px;
    height: 60px;
  }

  .icon-plus {
    display: block;
  }

  .icon-plus--mobile {
    display: none;
  }

  // *********************************
  //           additional-goods
  // *********************************

  .additional-goods__header {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .additional-goods__title {
    font-size: @font-size*3.6;
  }

  .additional__title {
    width: 100%;
  }

  .additional__description {
    margin-left: auto;
  }

  .additional__description td {
    text-align: right;
  }

  .additional-row {
    border: none;
  }

  .additional-row td {
    padding-top: 5px;
    min-width: 90px;
  }

  .gift {
    padding-top: 69px;
    padding-bottom: 77px;
  }

  .gift__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 88px;
    padding-right: 124px;
    padding-bottom: 58px;
    padding-top: 62px;

    align-items: center;
    background: url(".././img/gift-photo-tablet@1x.jpg") no-repeat top center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(".././img/gift-photo-tablet@2x.jpg");
    }
  }

  .gift__img-wrapper {
    margin: 0;
    width: 58px;
    height: 78px;
  }

  .gift__img {
    padding-top: 3px;
  }

  .gift__promo {
    width: 162px;
    text-align: left;
    margin: 0;
  }

  // *********************************
  //           button
  // *********************************


  .card-product--mini .button--card {
    width: 100%;
  }


  // *********************************
  //           form
  // *********************************
  .form {

    border-top: none;
  }

  .form__header {
    padding-top: 65px;
    padding-bottom: 55px;
  }

  .container--inner {
    width: 632px;
  }

  .search-program {
    padding-left: 41px;
    padding-right: 38px;
    padding-bottom: 45px;
  }

  .searh-program__input {
    padding-top: 11px;
    padding-left: 19px;
    margin-left: 18px;
    text-transform: uppercase;
    font-size: @font-size*2;
    font-family: @font;
    line-height: 1;
  }

  .searh-program__input::placeholder {
    font-size: @font-size*2;
    line-height: 1;
  }

  .search-program__subtitle {
    margin-bottom: 65px;
    max-width: 325px;
    font-size: @font-size*2;
    line-height: 1.5;
  }

  .search-program__label {
    font-size: @font-size*2;
    margin-bottom: 19px;
  }

  .input__icon {
    left: 95%;
  }

  .search-program__fieldset {
    padding-bottom: 25px;
  }

  .fieldset__header {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .fieldset__title {
    position: relative;
    left: -40px;
    max-width: none;
    font-size: @font-size*3.6;
  }

  .cat-data-fieldset {
    padding-bottom: 70px;
  }

  .radio-fieldset {
    padding-left: 30px;
    padding-top: 33px;
    padding-bottom: 25px;
    border: 1px solid @color-gray4;
  }

  .radio-fieldset::before,
  .radio-fieldset::after {
    display: none;
  }

  .label-radio {
    margin-bottom: 23px;
    padding-left: 57px;
  }

  .label-title::before {
    left: -59px;
  }

  .label-radio .label-title::before {
    width: 17px;
    height: 17px;
    border: 11px solid #ffffff;
  }

  .owner{
    padding-top: 18px;
  }

  .owner-contact-fieldset {
    padding-top: 18px;
    padding-bottom: 7px;
  }

  .comments-fieldset {
    padding-bottom: 7px;
  }

  .comments-fieldset .fieldset__header {
    padding-bottom: 73px;
    padding-top: 53px;
  }

  .search-program__comments-textarea {
    min-height: 174px;
  }

  .search-program__comments-textarea::placeholder {
    padding-top: 12px;
    font-size: @font-size*2;
  }

  .fieldset-additional__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 41px;
    grid-column-gap: 60px;
    padding-top: 5px;
  }

  .label-additional {
    margin-bottom: 0;
    padding-left: 60px;
  }

  .label-additional:last-of-type {
    margin-bottom: 18px;
  }

  .label-additional .label-title::before {
    width: 38px;
    height: 38px;
    left: -62px;
  }

  .label-additional .input-check:checked+.label-title::after {
    left: -50px;
  }

  .label-additional:hover .label-title::after {
    left: -50px;
  }

  .search-program__clarification {
    padding-top: 14px;
    text-align: left;
    font-size: @font-size*1.6;
  }

  .form__footer {
    display: flex;
    align-items: center;
  }
}
