@media (min-width: @tablet-width) {

  // *********************************
  //           modal
  // *********************************
  .form-order {

    
  }



  // *********************************
  //           button
  // *********************************


  // .card-product--mini .button--card {
  //   width: 100%;
  // }


  // *********************************
  //           form
  // *********************************
  .form {

    border-top: none;
  }

  .form__header {
    padding-top: 65px;
    padding-bottom: 55px;
  }

  .container--inner {
    width: 632px;
  }

  .search-program {
    padding-left: 41px;
    padding-right: 38px;
    padding-bottom: 45px;
  }

  .searh-program__input {
    padding-top: 11px;
    padding-left: 19px;
    margin-left: 18px;
    text-transform: uppercase;
    font-size: @font-size*2;
    font-family: @font;
    line-height: 1;
  }

  .searh-program__input::placeholder {
    font-size: @font-size*2;
    line-height: 1;
  }

  .search-program__subtitle {
    margin-bottom: 65px;
    max-width: 325px;
    font-size: @font-size*2;
    line-height: 1.5;
  }

  .search-program__label {
    font-size: @font-size*2;
    margin-bottom: 19px;
  }

  .input__icon {
    left: 95%;
  }

  .search-program__fieldset {
    padding-bottom: 25px;
  }

  .fieldset__header {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .fieldset__title {
    position: relative;
    left: -40px;
    max-width: none;
    font-size: @font-size*3.6;
  }

  .cat-data-fieldset {
    padding-bottom: 70px;
  }

  .radio-fieldset {
    padding-left: 30px;
    padding-top: 33px;
    padding-bottom: 25px;
    border: 1px solid @color-gray4;
  }

  .radio-fieldset::before,
  .radio-fieldset::after {
    display: none;
  }

  .label-radio {
    margin-bottom: 23px;
    padding-left: 57px;
  }

  .label-title::before {
    left: -59px;
  }

  .label-radio .label-title::before {
    width: 17px;
    height: 17px;
    border: 11px solid #ffffff;
  }

  .owner{
    padding-top: 18px;
  }

  .owner-contact-fieldset {
    padding-top: 18px;
    padding-bottom: 7px;
  }

  .comments-fieldset {
    padding-bottom: 7px;
  }

  .comments-fieldset .fieldset__header {
    padding-bottom: 73px;
    padding-top: 53px;
  }

  .search-program__comments-textarea {
    min-height: 174px;
  }

  .search-program__comments-textarea::placeholder {
    padding-top: 12px;
    font-size: @font-size*2;
  }

  .fieldset-additional__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 41px;
    grid-column-gap: 60px;
    padding-top: 5px;
  }

  .label-additional {
    margin-bottom: 0;
    padding-left: 60px;
  }

  .label-additional:last-of-type {
    margin-bottom: 18px;
  }

  .label-additional .label-title::before {
    width: 38px;
    height: 38px;
    left: -62px;
  }

  .label-additional .input-check:checked+.label-title::after {
    left: -50px;
  }

  .label-additional:hover .label-title::after {
    left: -50px;
  }

  .search-program__clarification {
    padding-top: 14px;
    text-align: left;
    font-size: @font-size*1.6;
  }

  .form__footer {
    display: flex;
    align-items: center;
  }
}
