.page-header {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  background-color: @color-white;
  color: @color-black;
}

.logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.page-header__logo {
  height: 37.6px;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo--tablet {
  display: none;
}

.page-header__logo--desctop {
  display: none;
}
