.page-footer {
  background-color: @color-basic-gray;
  padding-top: 38px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 52px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 47px;
  }

  // .page-footer__wrapper

  &__wrapper {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 34px;
    }
  }
}


.social {

  // .social__list

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 18px;
    margin-bottom: 18px;
    list-style-type: none;

    border-top: 1px solid @color-gray;
    border-bottom: 1px solid @color-gray;

    @media (min-width: @tablet-width) {
      padding: 0;
      padding-left: 15px;
      margin: 0;
      border: none;
      align-self: flex-start;
    }

    @media (min-width: @desktop-width) {
      padding-top: 10px;
    }
  }

  // .social__link

  &__link {
    &:focus .icon-social {
      fill: @color-basic-green;
    }
  }

  &__item {
    width: 30px;
    height: 20px;
    margin-right: 25px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: @tablet-width) {
      margin-right: 17px;
    }
  }
}

.icon-social {
  fill: @color-special_gray3;

  &:hover {
    fill: @color-basic-green;
  }
}

.icon-social--vk {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
    padding-right: 15px;
  }
}

.icon-social--inst {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.icon-social--fb {
  @media (min-width: @tablet-width) {
    width: 14px;
    height: auto;
  }
}


.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    width: 163px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }

  &:hover {
    opacity: 0.8;

    .copyright__logo {
      fill: @color-basic-green;
    }
  }

  &:active {
    opacity: 0.6;
  }

  // .copyright__link

  &__link {
    display: inline-block;

    text-decoration: none;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: @font-size*1.6;
    line-height: 1;
    color: @color-special_dark-grey;

    &:focus {
      opacity: 0.8;
    }

    &:focus + .copyright__logo {
      fill: @color-basic-green;
    }

    @media (min-width: @tablet-width) {
      padding-bottom: 4px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 0;
    }
  }

  // .copyright__logo

  &__logo {
    position: relative;
    right: -7px;
    fill: @color-special_gray3;
  }
}
