.promo {
  padding-top: 26px;
  padding-bottom: 11px;

  border-top: 1px solid transparent;
  background: url(".././img/index-background-mobile@1x.jpg") no-repeat top center;
  @media (min-resolution: 2dppx){
    background: url(".././img/index-background-mobile@2x.jpg");
  }
}

.promo__header {
  max-width: 420px;
  margin-bottom: 26px;
}

.promo__slogan {
  padding: 0;
  margin: 0;
  max-width: 420px;
  margin-bottom: 29px;

  font-family: @font;
  font-size: @font-size*1.4;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo__title {
  color: @color-white;
  text-align: center;
}

.promo__img-wrapper {
  margin: 0 auto;
  margin-bottom: 4px;
  width: 280px;
  height: 270px;
}
.promo__img{
  width: 100%;
  max-width: 100%;
  height: auto;
}
