.promo {

  padding-top: 22px;
  padding-bottom: 11px;

  border-top: 1px solid transparent;
  background: url(".././img/index-background-mobile@1x.jpg") no-repeat top center;
}

.promo__header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 25px;
  margin-bottom: 30px;
}

.promo__slogan {
  padding: 0;
  margin: 0;

  font-family: @font;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo__title {
  color: @color-white;
  text-align: center;
}

.promo__img--tablet {
  display: none;
}

.promo__img--desktop {
  display: none;
}
