.search-program {
  padding-bottom: 18px;
}

.search-program__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #000000;
}

.search-program__fieldset {
  border: none;

}

.search-program__fieldset-title {

  font-family: @font;
  font-size: 24px;
  font-weight: 400;
}

.search-program__label {
  margin-bottom: 13px;

  font-family: @font;
  font-size: 16px;
  line-height: 1.125;
  color: #000000;
  text-transform: uppercase;

}

.flex-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.searh-program__input {
  flex: 1 0 auto;
  margin-left: 14px;

  padding-top: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 15px;

  color: #444444;

  border: 1px solid #e7e7e7;

}

.searh-program__input::placeholder {
  text-transform: uppercase;
  font-family: @font;
  font-size: 16px;
  line-height: 1.125;
  color: #444444;
}

.fieldset-flex {
  display: flex;
  flex-direction: column;

  padding-top: 22px;
  padding-bottom: 22px;

  border: none;
}

.search-program__check-program-radio-fieldset {

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.search-program__comments-textarea {
  width: 100%;
  border-color: #e7e7e7;
}

.search-program__comments-textarea::placeholder {
  text-transform: uppercase;
  font-family: @font;
  font-size: 16px;
  line-height: 1.125;
  color: #444444;
}

.search-program__clarification {
  text-align: center;

}
