.special {
  padding-top: 16px;
  padding-bottom: 42px;
}

.special__title {
  padding-bottom: 35px;
  color: @color-black;
}

.special__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.special__item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.special__item-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  margin-right: 20px;

  background-color: @color-basic-green;
}

.special__item-text {

  width: 200px;
}
