.special {
  padding-top: 18px;
  padding-bottom: 42px;
}

.special__title {
  color: @color-black;
}

.special__list {
  display: grid;
  grid-row-gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.special__header {
  margin-bottom: 39px;
}

.special__item {
  display: flex;
  justify-content: start;
  align-items: center;
}

.special__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  margin-right: 20px;

  background-color: @color-basic-green;
}

.special__text {

  width: 200px;
}
